@using brechtbaekelandt.Models
@{
    var activePage = (string)this.ViewData["ActivePage"];
}

<!DOCTYPE html>
<html itemscope itemtype="http://schema.org/Article">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - brecht|baekelandt</title>

    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta http-equiv="Content-Type" content="text/html; charset=ISO-8859-1">

    <meta name="copyright" content="www.brechtbaekelandt.net falls under GNU General Public License version 3" />
    @RenderSection("seo", required: false)
    <meta name="robots" content="index,follow" />

    @RenderSection("social", required: false)

    <link rel="apple-touch-icon" sizes="57x57" href="/images/favicon/apple-icon-57x57.png">
    <link rel="apple-touch-icon" sizes="60x60" href="/images/favicon/apple-icon-60x60.png">
    <link rel="apple-touch-icon" sizes="72x72" href="/images/favicon/apple-icon-72x72.png">
    <link rel="apple-touch-icon" sizes="76x76" href="/images/favicon/apple-icon-76x76.png">
    <link rel="apple-touch-icon" sizes="114x114" href="/images/favicon/apple-icon-114x114.png">
    <link rel="apple-touch-icon" sizes="120x120" href="/images/favicon/apple-icon-120x120.png">
    <link rel="apple-touch-icon" sizes="144x144" href="/images/favicon/apple-icon-144x144.png">
    <link rel="apple-touch-icon" sizes="152x152" href="/images/favicon/apple-icon-152x152.png">
    <link rel="apple-touch-icon" sizes="180x180" href="/images/favicon/apple-icon-180x180.png">
    <link rel="icon" type="image/png" sizes="192x192" href="/images/favicon/android-icon-192x192.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/images/favicon/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="96x96" href="/images/favicon/favicon-96x96.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/images/favicon/favicon-16x16.png">
    <link rel="manifest" href="/images/favicon/manifest.json">
    <meta name="msapplication-TileColor" content="##540804">
    <meta name="msapplication-TileImage" content="/ms-icon-144x144.png">
    <meta name="theme-color" content="##540804">

    <script src="https://ajax.googleapis.com/ajax/libs/webfont/1.6.26/webfont.js"></script>
    <script type="text/javascript">
        WebFont.load({
            google: {
                families: ["Lato", "Varela Round", "Open Sans"]
            }
        });
    </script>

    <link href="http://fonts.googleapis.com/css?family=Lato" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Varela+Round" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:400,400italic,600,600italic" rel="stylesheet" type="text/css">


    @* <environment include="Development">*@

    <link href="~/css/bootstrap/bootstrap-custom.css" rel="stylesheet" />
    <link href="~/lib/font-awesome/css/font-awesome.css" rel="stylesheet" />
    <link href="~/css/site.css" rel="stylesheet" />

    @*</environment>*@
    <environment exclude="Development">
        @*<link rel="stylesheet" href="https://ajax.aspnetcdn.com/ajax/bootstrap/3.3.7/css/bootstrap.min.css"
                  asp-fallback-href="~/lib/bootstrap/dist/css/bootstrap.min.css"
                  asp-fallback-test-class="sr-only" asp-fallback-test-property="position" asp-fallback-test-value="absolute" />
            <link rel="stylesheet" href="~/css/site.min.css" asp-append-version="true" />*@
    </environment>

    @RenderSection("styles", required: false)

    <script type="text/javascript" src="http://s7.addthis.com/js/300/addthis_widget.js#pubid=ra-5634e3b16fe3ba06"></script>
    <script type="text/javascript" src="https://cdn.rawgit.com/google/code-prettify/master/loader/run_prettify.js"></script>

    @*<environment include="Development">*@
    <script src="~/lib/jquery/dist/jquery.js"></script>
    <script src="~/lib/jquery.cookie/jquery.cookie.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.js"></script>
    <script src="~/lib/knockout/dist/knockout.js"></script>
    <script src="~/lib/knockout-mapping/knockout.mapping.js"></script>
    <script src="~/js/knockout/knockout.extenders.js"></script>
    <script src="~/js/knockout/knockout.extensions.js"></script>
    <script src="~/js/knockout/knockout.validation-custom.js"></script>
    <script src="~/js/knockout/knockout.validation-rules.js"></script>
    <script src="~/lib/moment/moment.js"></script>

    <script src="~/js/helpers/helpers.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>

    <script type="text/javascript">
        $.ajaxSetup({
            cache: false
        });
    </script>

    <script type="text/javascript">
        var knockoutValidationSettings = {
            insertMessages: false,
            insertMessagesAfterValidationElement: true,
            //insertMessages: false,
            //insertMessagesAfterValidationElement: false,
            decorateInputElement: false,
            decorateElementOnModified: true,
            errorMessageClass: 'validation-message',
            errorElementClass: 'has-error',
            //errorClass: 'error',
            elementClass: 'form-group',
            errorsAsTitle: false,
            parseInputAttributes: false,
            messagesOnModified: true,
            messageTemplate: "validationMessageTemplate",
            grouping: { deep: true, observable: true },
            registerExtenders: true
        };

        ko.validation.init(knockoutValidationSettings, true);
    </script>

    @*</environment>*@

    <environment exclude="Development">
        @*<script src="https://ajax.aspnetcdn.com/ajax/jquery/jquery-2.2.0.min.js"
                    asp-fallback-src="~/lib/jquery/dist/jquery.min.js"
                    asp-fallback-test="window.jQuery"
                    crossorigin="anonymous"
                    integrity="sha384-K+ctZQ+LL8q6tP7I94W+qzQsfRV2a+AfHIi9k8z8l9ggpc8X+Ytst4yBo/hH+8Fk">
            </script>
            <script src="https://ajax.aspnetcdn.com/ajax/bootstrap/3.3.7/bootstrap.min.js"
                    asp-fallback-src="~/lib/bootstrap/dist/js/bootstrap.min.js"
                    asp-fallback-test="window.jQuery && window.jQuery.fn && window.jQuery.fn.modal"
                    crossorigin="anonymous"
                    integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa">
            </script>
            <script src="~/js/site.min.js" asp-append-version="true"></script>*@
    </environment>

    @RenderSection("scripts", required: false)

</head>
<body>
    <header>
        <div id="header-content" class="container">
            <div id="title">
                <h1>brecht|baekelandt</h1>
                <h2>.net developer</h2>
            </div>
        </div>
    </header>
    <div id="main" class="container">
        <nav class="navbar navbar-default">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li class="@(activePage == "home" ? "active" : "")"><a asp-area="" asp-controller="home" asp-action="index">home</a></li>
                    <li class="@(activePage == "about" ? "active" : "")"><a asp-area="" asp-controller="about" asp-action="index">about</a></li>

                    @if (this.User.Identity.IsAuthenticated)
                    {
                        <li class="@(activePage == "admin" ? "active" : "")"><a asp-area="" asp-controller="admin" asp-action="index">admin</a></li>
                    }
                </ul>

                @if (this.User.Identity.IsAuthenticated)
                {
                    var firstName = string.Empty;
                    var lastName = string.Empty;

                    var currentUser = this.ViewData["CurrentUser"];

                    if (currentUser is ApplicationUser currentApplicationUser)
                    {
                        firstName = currentApplicationUser.FirstName;
                        lastName = currentApplicationUser.LastName;
                    }

                    <ul class="nav navbar-nav navbar-right">
                        <li>
                            <span class="navbar-text">@($"hello {firstName} {lastName}")</span>
                        </li>
                        <li>
                            <form class="navbar-form" method="POST" asp-controller="account" asp-action="signout">
                                <button type="submit" class="btn btn-sm btn-default"><i class="fa fa-sign-out"></i> sign out</button>
                            </form>
                        </li>
                    </ul>
                }
                else
                {
                    <ul class="nav navbar-nav navbar-right">
                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">sign in <span class="caret"></span></a>
                            <ul class="dropdown-menu">
                                <li class="sign-in-dropdown">
                                    <form method="POST" asp-controller="account" asp-action="signin">
                                        <div class="form-group">
                                            <div class="input-group">
                                                <span class="input-group-addon"><i class="fa fa-user-o"></i></span>

                                                <input name="username" type="text" placeholder="username or email" class="form-control" />
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <div class="input-group">
                                                <span class="input-group-addon"><i class="fa fa-unlock"></i></span>

                                                <input name="password" type="password" placeholder="password" class="form-control" />
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <div class="checkbox">
                                                <label><input name="rememberMe" type="checkbox" value="true" /><span>remember me</span></label>
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <button type="submit" class="btn btn-primary"><i class="fa fa-sign-in"></i> sign in</button>
                                        </div>
                                    </form>
                                </li>
                            </ul>
                        </li>
                    </ul>
                }
            </div>
        </nav>
        <section>
            @RenderBody()
        </section>
    </div>



    @*post preview template*@

    <script type="text/html" id="postPreviewTemplate">
        <article class="post-preview">
            <div class="post-preview-title">
                <h3>
                    <a data-bind="attr: { href: post.url() + viewModel.createFullQueryString() }, highlight: { text:  post.title(), keywords: viewModel.searchTermsFilter() }"></a>
                </h3>
                <small>
                    <i>by: <a data-bind="attr: { href: 'mailto://' + post.user.emailAddress }, text: post.user.fullName"></a></i>
                    <span>|</span>
                    <i data-bind="text: 'created: ' + moment(post.created()).format('DD/MM/YYYY, HH:mm:ss')"></i>
                    <span>|</span>
                    <!-- ko if: post.lastModified -->
                    <i data-bind="text: 'last updated: ' + moment(post.lastModified()).format('DD/MM/YYYY, HH:mm:ss')"></i>
                    <span>|</span>
                    <!-- /ko -->
                    <i>
                        <label>categories:</label>
                        <!-- ko foreach: post.categories -->
                        <a href="#" data-bind="text: name, click: function() { $parentContext.$data.viewModel.categoryIdFilter($data.id()); }"></a><span data-bind="if: $index() < $parentContext.$data.post.categories().length - 1">, </span>
                        <!-- /ko -->
                    </i>
                    <span>|</span>
                    <a data-bind="attr: { href: post.url() + viewModel.createFullQueryString() + '#comments' }"><i class="fa fa-comment"></i></a>
                    <!-- ko if: post.comments().length > 0 -->
                    <i data-bind="text: post.comments().length"></i>
                    <!-- /ko -->
                    <!-- ko if: post.comments().length === 0 -->
                    <i>no comments yet...</i>
                    <!-- /ko -->
                    @*<span>|</span>
                        <a href="#"><i class="fa fa-thumbs-up"></i></a>
                        <!-- ko if: post.likes() > 0 -->
                        <span data-bind="text: post.likes()"></span>
                        <!-- /ko -->
                        <!-- ko if: post.likes() === 0 -->
                        <i>no likes yet...</i>
                        <!-- /ko -->*@
                </small>
            </div>
            <div class="post-preview-description" data-bind=", highlight: { text:  post.description(), keywords: viewModel.searchTermsFilter() }">
            </div>
            <!-- ko if: post.content -->
            <a data-bind="attr: { href: post.url() + viewModel.createFullQueryString() }">read more...</a>
            <!-- /ko -->
            <div class="clearfix" />
            <!-- ko if: post.tags().length > 0 -->
            <div class="post-preview-tags">
                <label><small><i>tags:</i></small></label>
                <div class="clearfix" />
                <!-- ko foreach: post.tags -->
                <a href="#" class="label label-default" data-bind="text: $data, css: { active: $parentContext.$data.viewModel.tagsFilter.indexOf($data) > -1 }, click: function() { $parentContext.$data.viewModel.tagsFilter.indexOf($data) === -1 ? $parentContext.$data.viewModel.tagsFilter.push($data) : null; }"></a>
                <!-- /ko -->
            </div>
            <!-- /ko -->
            <div class="clearfix"></div>
            <div class="post-preview-share">
                <hr />
                <div class="addthis_inline_share_toolbox" data-bind="attr: { 'data-title': post.title, 'data-description': post.cleanDescription, 'data-url': 'http://www.brechtbaekelandt.net/blog/post/' + post.internalTitle() }"></div>
                <hr />
            </div>
        </article>
    </script>

    @*post template*@

    <script type="text/html" id="postTemplate">
        <article class="post">
            <div class="post-title">
                <h3>
                    <a data-bind="attr: { href: post.url() }, highlight: { text:  post.title(), keywords: viewModel.searchTermsFilter() }"></a>
                </h3>
                <small>
                    <i>by: <a data-bind="attr: { href: 'mailto://' + post.user.emailAddress }, text: post.user.fullName"></a></i>
                    <span>|</span>
                    <i data-bind="text: 'created: ' + moment(post.created()).format('DD/MM/YYYY, HH:mm:ss')"></i>
                    <span>|</span>
                    <!-- ko if: post.lastModified -->
                    <i data-bind="text: 'last updated: ' + moment(post.lastModified()).format('DD/MM/YYYY, HH:mm:ss')"></i>
                    <span>|</span>
                    <!-- /ko -->
                    <i>
                        <label>categories:</label>
                        <!-- ko foreach: post.categories -->
                        <a data-bind="text: name, attr: { href: '/home?categoryName=' + name() }"></a><span data-bind="if: $index() < $parentContext.$data.post.categories().length - 1">, </span>
                        <!-- /ko -->
                    </i>
                    <span>|</span>
                    <a href="#comments"><i class="fa fa-comment"></i></a>
                    <!-- ko if: post.comments().length > 0 -->
                    <i data-bind="text: post.comments().length"></i>
                    <!-- /ko -->
                    <!-- ko if: post.comments().length === 0 -->
                    <i>no comments yet...</i>
                    <!-- /ko -->
                    @*<span>|</span>
                        <a href="#"><i class="fa fa-thumbs-up"></i></a>
                        <!-- ko if: post.likes() > 0 -->
                        <span data-bind="text: post.likes"></span>
                        <!-- /ko -->
                        <!-- ko if: post.likes() === 0 -->
                        <i>no likes yet...</i>
                        <!-- /ko -->*@
                </small>
            </div>
            <div class="post-description" data-bind=", highlight: { text:  post.description(), keywords: viewModel.searchTermsFilter() }">
            </div>
            <div class="clearfix" />
            <div class="post-content" data-bind=", highlight: { text:  post.content(), keywords: viewModel.searchTermsFilter() }">
            </div>
            <div class="clearfix" />
            <!-- ko if: post.attachments().length > 0 -->
            <div class="post-attachments">
                <label><small><i>attachments:</i></small></label>
                <div class="clearfix" />
                <ul class="list-group">
                    <!-- ko foreach: post.attachments -->
                    <li class="list-group-item">
                        <a class="" data-bind="attr: { href: $data.url }" download><b data-bind="text: $data.name"></b></a> <span data-bind="text: '(' + new brechtbaekelandt.helpers.ByteHelper().bytesToSizeString($data.size()) + ')'"></span>
                    </li>
                    <!-- /ko -->
                </ul>
            </div>
            <!-- /ko -->
            <!-- ko if: post.tags().length > 0 -->
            <div class="post-tags">
                <label><small><i>tags:</i></small></label>
                <div class="clearfix" />
                <!-- ko foreach: post.tags -->
                <a class="label label-default" data-bind="text: $data, attr: { href: '/home?tags=' + $data }"></a>
                <!-- /ko -->
            </div>
            <!-- /ko -->
            <div class="clearfix"></div>
            <div class="post-share">
                <hr />
                <div class="addthis_inline_share_toolbox" data-bind="attr: { 'data-title': post.title, 'data-description': post.cleanDescription, 'data-url': 'http://www.brechtbaekelandt.net/blog/post/' + post.internalTitle() }"></div>
                <hr />
            </div>
            <div class="post-comments">
                <h4>comments:</h4>
                <h6>leave a comment</h6>
            </div>
        </article>
        <a id="comments" />
        <div data-bind="template: { name: 'commentEditorTemplate', data: { comments: post.comments, postId: post.id(), viewModel: viewModel }, afterRender: function() {  } }"></div>
        <hr />
        <div class="post-comments-container">
            <!-- ko foreach: post.comments -->
            <div class="post-comment" data-bind="template: { name: 'commentTemplate', data: { comment: $data, postTitle: $parentContext.$data.post.title(), viewModel: $parentContext.$data.viewModel }, afterRender: function() {  } }"></div>
            <!-- /ko -->
        </div>
    </script>

    @*comment template*@

    <script type="text/html" id="commentTemplate">
        <div class="comment-title">
            <h4><i class="fa fa-comment-o"></i> <span data-bind="text: comment.title() ? comment.title() : 're: ' + postTitle"></span></h4>
            <small>
                <i>
                    <!-- ko if: comment.emailAddress -->
                    by: <a data-bind="attr: { href: 'mailto://' + comment.emailAddress() }, text: comment.name"></a>
                    <!-- /ko -->
                    <!-- ko ifnot: comment.emailAddress -->
                    by: <span data-bind="text: comment.name"></span>
                    <!-- /ko -->
                </i>
                <span>|</span>
                <i data-bind="text: moment(comment.created()).format('DD/MM/YYYY, HH:mm:ss')"></i>
            </small>
        </div>
        <div class="comment-content" data-bind="text: comment.content">
        </div>
    </script>

    @*comment editor template*@

    <script type="text/html" id="commentEditorTemplate">
        <!-- ko if: viewModel.addCommentValidationMessages().length > 0 -->
        <div class="alert alert-danger">
            <strong>error!</strong> there are some errors:
            <ul class="list-unstyled">
                <!-- ko foreach: viewModel.addCommentValidationMessages -->
                <li><span data-bind="text: $data.errorMessage"></span></li>
                <!-- /ko -->
            </ul>
        </div>
        <!-- /ko -->
        <!-- ko if: viewModel.captchaInvalidMessage -->
        <div class="alert alert-danger">
            <strong>error!</strong> <span data-bind="text:  viewModel.captchaInvalidMessage"></span>
        </div>
        <!-- /ko -->
        <!-- ko if: viewModel.addCommentErrorMessage -->
        <div class="alert alert-danger alert-dismissable">
            <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
            <strong>error!</strong> <span data-bind="text:  viewModel.addCommentErrorMessage"></span>
        </div>
        <!-- /ko -->
        <!-- ko if:  viewModel.addCommentSucceededMessage -->
        <div class="alert alert-success alert-dismissable">
            <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
            <strong>success!</strong> <span data-bind="text: viewModel.addCommentSucceededMessage"></span>
        </div>
        <!-- /ko -->
        <form>
            <div class="form-group" data-bind="validationElement: viewModel.newComment.name">
                <div class="input-group">
                    <span class="input-group-addon"><i class="fa fa-user-o"></i></span>
                    <input name="name" type="text" placeholder="enter your name" class="form-control" data-bind="textInput: viewModel.newComment.name" />
                </div>
            </div>
            <div class="form-group" data-bind="validationElement: viewModel.newComment.emailAddress">
                <div class="input-group">
                    <span class="input-group-addon"><i class="fa fa-at"></i></span>
                    <input name="emailAddress" type="text" placeholder="enter your email address (optional)" class="form-control" data-bind="textInput: viewModel.newComment.emailAddress" />
                </div>
            </div>
            <div class="form-group">
                <div class="input-group">
                    <span class="input-group-addon"><i class="fa fa-arrow-right"></i></span>
                    <input name="title" type="text" placeholder="enter a title (optional)" class="form-control" data-bind="textInput: viewModel.newComment.title" />
                </div>
            </div>
            <div class="form-group" data-bind="validationElement: viewModel.newComment.content">
                <div class="input-group">
                    <!-- ko ifnot: viewModel.isTyping -->
                    <span class="input-group-addon" style="vertical-align: top;"><i class="fa fa-comment-o"></i></span>
                    <!-- /ko -->
                    <!-- ko if: viewModel.isTyping -->
                    <span class="input-group-addon" style="vertical-align: top;"><i class="fa fa-commenting-o"></i></span>
                    <!-- /ko -->
                    <textarea rows="6" placeholder="enter your comment" class="form-control" data-bind="textInput: viewModel.newComment.content, isTyping: viewModel.isTyping, timeOut: 750"></textarea>
                </div>
            </div>
            <div class="form-group" data-bind="validationElement: viewModel.captchaAttemptedValue">
                <img data-bind="attr: { src: viewModel.captchaImage }" class="img-thumbnail img-responsive img-captcha" />
                <div class="form-inline inline">
                    <div class="input-group">
                        <span class="input-group-addon"><i class="fa fa-question"></i></span>
                        <input type="text" class="form-control " data-bind="textInput: viewModel.captchaAttemptedValue" placeholder="captcha" />
                    </div>
                    <button type="button" class="btn btn-muted" data-bind="click: function() { viewModel.getCaptcha('commentCaptcha'); }"><i class="fa fa-refresh text-success"></i></button>
                </div>
            </div>
            <div class="form-group text-right">
                <button type="button" class="btn btn-primary" data-bind="click: function() { viewModel.addComment(viewModel.newComment, postId) }"><i class="fa fa-comment"></i> comment</button>
            </div>
        </form>
    </script>

    @*post editor template*@

    <script type="text/html" id="postEditorTemplate">
        <form>
            <fieldset data-bind="disable: viewModel.isPosted">
                <div class="post-editor">
                    <div class="form-group" data-bind="validationElement: post.title">
                        <label>title:</label>
                        <div class="input-group stretch-horizontal">
                            <input type="text" class="form-control" placeholder="think of a cool title" data-bind="textInput: post.title" />
                        </div>
                    </div>
                    <div class="picture-description">
                        <div class="picture">
                            <label>picture:</label>
                            <!-- ko ifnot: post.pictureUrl -->
                            <div class="picture-drop-zone" data-bind="dropUpload: viewModel.pictureToUpload, allowedExtensions: ['jpeg', 'jpg', 'png', 'gif']" unselectable="on" onselectstart="return false;" onmousedown="return false;">
                                <label>drop a picture or double click.</label>
                            </div>
                            <!-- /ko -->
                            <!-- ko if: post.pictureUrl -->
                            <div class="thumbnail-container">
                                <img data-bind="attr: { src: post.pictureUrl }" alt="thumbnail" class="img-thumbnail" />
                                <button type="button" class="btn btn-danger btn-delete-picture" data-bind="click: function() { viewModel.deletePicture(post.pictureUrl); }"><i class="fa fa-times"></i></button>
                            </div>
                            <!-- /ko -->
                        </div>
                        <div class="description">
                            <div class="form-group" data-bind="validationElement: post.description">
                                <label>description:</label>
                                <div class="input-group stretch-horizontal">
                                    <textarea data-bind="value: post.description, froala: post.description, froalaOptions: viewModel.descriptionFroalaOptions, disable: viewModel.isPosted"></textarea>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <label>content:</label>
                        <textarea data-bind="value: post.content, froala: post.content, froalaOptions: viewModel.contentFroalaOptions, disable: viewModel.isPosted"></textarea>
                    </div>
                    <div class="form-group">
                        <label>categories:</label>
                        <div class="input-group">
                            <input type="text" class="form-control" placeholder="add a new category or select one or more below" data-bind="textInput: viewModel.categoryToAdd, enterKey: function(){ viewModel.addCategory(viewModel.categoryToAdd); }" />
                            <span class="input-group-btn">
                                <button class="btn btn-primary" type="button" data-bind="click: function(){ viewModel.addCategory(viewModel.categoryToAdd); }"><i class="fa fa-plus"></i></button>
                            </span>
                        </div>
                    </div>
                    <div class="form-group categories" data-bind="validationElement: post.categories">
                        <div class="form-control">
                            <!-- ko  foreach: viewModel.categories -->
                            <button data-bind="css: { selected: isSelected }, click: function(){ $parent.viewModel.toggleSelectedCategory($data, $parentContext.$data.post.categories); }" class="category">
                                <span data-bind="text: name"></span> <i class="fa fa-check"></i>
                            </button>
                            <!-- /ko -->
                        </div>
                    </div>
                    <div class="form-group">
                        <label>tags:</label>
                        <div class="input-group">
                            <input type="text" class="form-control" placeholder="add a new tag or select one or more below" data-bind="textInput: viewModel.tagToAdd, enterKey: function() { viewModel.addTag(viewModel.tagToAdd, post.tags); }" />
                            <span class="input-group-btn">
                                <button class="btn btn-primary" type="button" data-bind="click: function(){ viewModel.addTag(viewModel.tagToAdd, post.tags); }"><i class="fa fa-plus"></i></button>
                            </span>
                        </div>
                    </div>
                    <div class="form-group tags">
                        <!-- ko  foreach: post.tags -->
                        <button data-bind="css: { selected: true }, click: function(){ $parent.viewModel.removeTag($data, $parentContext.$data.post.tags); }" class="tag">
                            <span data-bind="text: $data"></span> <i class="fa fa-check"></i>
                        </button>
                        <!-- /ko -->
                    </div>
                    <!-- ko if: viewModel.attachmentsUploadErrorMessage -->
                    <div class="alert alert-danger">
                        <strong>error!</strong> <span data-bind="text: viewModel.attachmentsUploadErrorMessage"></span>
                    </div>
                    <!-- /ko -->
                    <!-- ko if: viewModel.attachmentsUploadAbortedMessage -->
                    <div class="alert alert-info">
                        <strong>info!</strong> <span data-bind="text: viewModel.attachmentsUploadAbortedMessage"></span>
                    </div>
                    <!-- /ko -->
                    <!-- ko if: viewModel.isAttachmentsUploadingFinished -->
                    <div class="alert alert-success alert-dismissable">
                        <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
                        <strong>success!</strong> <span>the file(s) have been successfully uploaded.</span>
                    </div>
                    <!-- /ko -->
                    <div class="form-group">
                        <label>attachments:</label>
                        <div class="attachments-drop-zone" data-bind="dropUpload: viewModel.attachmentsToUpload" unselectable="on" onselectstart="return false;" onmousedown="return false;">
                            <label>drag & drop files or double click.</label>
                        </div>
                        <!-- ko if: viewModel.attachmentsToUpload().length > 0 -->
                        <!-- ko ifnot: viewModel.isAttachmentsUploading -->
                        <h4>files waiting to be uploaded</h4>
                        <!-- /ko -->
                        <!-- ko if: viewModel.isAttachmentsUploading -->
                        <h4>files being uploaded</h4>
                        <!-- /ko -->
                        <ul class="list-group">
                            <!-- ko foreach: viewModel.attachmentsToUpload -->
                            <li class="list-group-item">
                                <b class="" data-bind="text: name"></b>
                                <!-- ko ifnot: $parentContext.$data.viewModel.isAttachmentsUploading -->
                                <button type="button" data-bind="click: function() { $parentContext.$data.viewModel.deleteSelectedAttachmentToUpload($data); }" class="btn btn-muted pull-right"><i class="fa fa-trash text-danger"></i></button>
                                <!-- /ko -->
                            </li>
                            <!-- /ko -->
                        </ul>
                        <!-- /ko -->
                        <!-- ko if: viewModel.isAttachmentsUploading -->
                        <div class="progress">
                            <div class="progress-bar progress-bar-striped" role="progressbar" data-bind="attr: { 'aria-valuenow': viewModel.attachmentsUploadProgress() }, style: { width: viewModel.attachmentsUploadProgress() + '%' }" aria-valuemin="0" aria-valuemax="100"></div>
                        </div>
                        <div class="progress-label-container">
                            <label class="label label-primary" data-bind="text: viewModel.attachmentsUploadProgress() + '% complete...'"></label>
                            <p></p>
                            <p>
                                <a href="#" data-bind="click: function() { viewModel.abortAttachmentUpload(); }">abort</a>
                            </p>
                        </div>
                        <!-- /ko -->
                    </div>
                    <div class="form-group">
                        <!-- ko if: viewModel.attachmentsToUpload().length > 0 -->
                        <button class="btn btn-primary" data-bind="click: function() { viewModel.uploadAttachments(viewModel.attachmentsToUpload); }, disable: viewModel.isAttachmentsUploading() | viewModel.attachmentsToUpload().length == 0">
                            <i class="fa fa-upload"></i> <span>upload</span>
                        </button>
                        <!-- /ko -->
                    </div>
                    <div class="form-group">
                        <!-- ko if: post.attachments().length > 0 -->
                        <label>uploaded attachments:</label>
                        <!-- ko if: viewModel.attachmentDeleteErrorMessage -->
                        <div class="alert alert-danger">
                            <strong>error!</strong> <span data-bind="text: viewModel.attachmentDeleteErrorMessage"></span>
                        </div>
                        <!-- /ko -->
                        <ul class="list-group">
                            <!-- ko foreach: post.attachments -->
                            <li class="list-group-item">
                                <b class="" data-bind="text: name"></b>
                                <button type="button" data-bind="click: function() { $parentContext.$data.viewModel.deleteUploadedAttachment($data); }" class="btn btn-muted pull-right"><i class="fa fa-trash text-danger"></i></button>
                            </li>
                            <!-- /ko -->
                        </ul>
                        <!-- /ko -->
                    </div>
                </div>
            </fieldset>
        </form>
        <!-- ko if: viewModel.createErrorMessage -->
        <div class="alert alert-danger alert-dismissable">
            <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
            <strong>error!</strong> <span data-bind="text: viewModel.createErrorMessage"></span>
        </div>
        <!-- /ko -->
        <!-- ko if: viewModel.createSucceededMessage -->
        <div class="alert alert-success alert-dismissable">
            <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
            <strong>success!</strong> <span data-bind="text: viewModel.createSucceededMessage"></span>
            <a class="alert-link" data-bind="attr: { href: '/blog/post/' + post.internalTitle }">click here</a> to view...
        </div>
        <!-- /ko -->
        <!-- ko if: viewModel.updateErrorMessage -->
        <div class="alert alert-danger alert-dismissable">
            <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
            <strong>error!</strong> <span data-bind="text: viewModel.updateErrorMessage"></span>
        </div>
        <!-- /ko -->
        <!-- ko if: viewModel.updateSucceededMessage -->
        <div class="alert alert-success alert-dismissable">
            <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
            <strong>success!</strong> <span data-bind="text: viewModel.updateSucceededMessage"></span>
            <a class="alert-link" data-bind="attr: { href:  post.url }">click here</a> to view...
        </div>
        <!-- /ko -->
    </script>


    @*loader template*@

    <script type="text/html" id="loaderTemplate">
        <div class="loader">
            <i class="fa fa-spinner fa-pulse fa-2x fa-fw"></i>
            <p>loading, please wait...</p>
        </div>
    </script>

    @*validation template*@

    <script type="text/html" id="validationMessageTemplate">
        <div class="validation-message" data-bind="visible: field.isModified() && !field.isValid()">
            <i class="fa fa-arrow-circle-up blinking"></i> <span data-bind="text: field.error"></span>
        </div>
    </script>
</body>
</html>



