@*<article class="post">
        <a data-bind="attr: { 'href': '@Url.Action("Post", "Blog")/' + internalTitle() }">
            <h2 data-bind="text: title"></h2>
        </a>
        <hr />
        <div class="date right">by <span data-bind="text: user.name()"></span> - <span data-bind="dateString: createdDate, datePattern: 'dd MMM yyyy - HH:mm'"></span></div>
        <div class="description" data-bind="html: description"></div>

        <a data-bind="attr: { 'href': '@Url.Action("Post", "Blog")/' + internalTitle() }">
            read full post....
        </a>
        <div class="details">
            <span data-bind="if: categories() && categories().length > 1">categories: </span>
            <span data-bind="if: categories() && categories().length === 1">category: </span>
            <!-- ko foreach: categories -->
            <a href="#" data-bind="text: $data.name, click: function() {$parents[1].selectedCategoryId($data.id()) }"></a>
            <!-- ko if: $index()+1 < $parent.categories().length -->,<!-- /ko -->
            <!-- /ko -->
            <span>|</span>
            <span>comments:</span> <span data-bind="text: commentCount()"></span>
            <span>|</span>
            <a data-bind="attr: {'href': 'https://api.addthis.com/oexchange/0.8/forward/facebook/offer?url=' + encodeURI('@Url.Action("Post", "Blog", null, Request.Url.Scheme, null)/' + internalTitle()) + '&amp;pubid=ra-5634e3b16fe3ba06&amp;ct=1&amp;title=' + title() + '&amp;pco=tbxnj-1.0'}" target="_blank"><img src="https://cache.addthiscdn.com/icons/v2/thumbs/16x16/facebook.png" border="0" alt="Facebook" /></a>
            <a data-bind="attr: {'href': 'https://api.addthis.com/oexchange/0.8/forward/google_plusone_share/offer?url=' + encodeURI('@Url.Action("Post", "Blog", null, Request.Url.Scheme, null)/' + internalTitle()) + '&amp;pubid=ra-5634e3b16fe3ba06&amp;ct=1&amp;title=' + title() + '&amp;pco=tbxnj-1.0'}" target="_blank"><img src="https://cache.addthiscdn.com/icons/v2/thumbs/16x16/google_plusone_share.png" border="0" alt="Google+" /></a>
            <a data-bind="attr: {'href': 'https://api.addthis.com/oexchange/0.8/forward/linkedin/offer?url=' + encodeURI('@Url.Action("Post", "Blog", null, Request.Url.Scheme, null)/' + internalTitle()) + '&amp;pubid=ra-5634e3b16fe3ba06&amp;ct=1&amp;title=' + title() + '&amp;pco=tbxnj-1.0'}" target="_blank"><img src="https://cache.addthiscdn.com/icons/v2/thumbs/16x16/linkedin.png" border="0" alt="LinkedIn" /></a>
            <a data-bind="attr: {'href': 'https://api.addthis.com/oexchange/0.8/forward/twitter/offer?url=' + encodeURI('@Url.Action("Post", "Blog", null, Request.Url.Scheme, null)/' + internalTitle()) + '&amp;pubid=ra-5634e3b16fe3ba06&amp;ct=1&amp;title=' + title() + '&amp;pco=tbxnj-1.0'}" target="_blank"><img src="https://cache.addthiscdn.com/icons/v2/thumbs/16x16/twitter.png" border="0" alt="Twitter" /></a>
            @if (User.Identity.IsAuthenticated)
            {
                <a data-bind="attr: { 'href': '@Url.Action("Edit", "Blog")/' + internalTitle() }" class="pull-right">edit</a>
            }
        </div>
    </article>*@


<article class="post-preview">
    <div class="post-preview-title">
        <h3>
            <a asp-area="" asp-controller="blog" asp-action="post"  data-bind="attr: { 'asp-route-internalTitle': internalTitle }, text: title"></a>
        </h3>
        <small>
            @*<i><a href="mailto:@this.Model.User.EmailAddress">@this.Model.User.Name</a></i>
            |
            <i>@this.Model.Created.ToLongDateString() - @this.Model.Created.ToShortTimeString()</i>
            |
            @if (this.Model.CommentCount > 0)
            {
                <i><span>comments:</span> @this.Model.CommentCount</i>
            }
            else
            {
                <i>no comments yet...</i>
            }*@
        </small>
        @if (User.Identity.IsAuthenticated)
        {
            @*<small class="pull-right"><a asp-area="" asp-controller="blog" asp-action="edit" asp-route-id="@this.Model.Id">edit post</a> | <a asp-area="" asp-controller="blog" asp-action="delete" asp-route-id="@this.Model.Id">delete post</a></small>*@
        }
    </div>
    <div class="post-preview-categories-comments">
        <hr />
        @*@foreach (var category in this.Model.Categories)
        {
            <span class="label label-default">@category.Name</span>
        }*@
        <hr />
    </div>
    <div class="post-preview-content">

        @*@if (!string.IsNullOrEmpty(this.Model.PictureUrl))
        {
            <img src="@this.Model.PictureUrl" class="img-thumbnail" />
        }

        @Html.Raw(this.Model.Description)*@

        <a asp-area="" asp-controller="blog" asp-action="post" data-bind="attr: { 'asp-route-internalTitle': internalTitle }, text: title"></a>
    </div>
    <div class="clearfix"></div>
    <div class="post-preview-share">
        <hr />
        <div class="addthis_inline_share_toolbox" data-url="@Url.Action("Post", "Blog", new { internalTitle = this.Model.InternalTitle }, "http", "brechtbaekelandt.net" )" data-bind="attr: { 'data-title': title, 'data-description': description }"></div>
        <hr />
    </div>
</article>