@using brechtbaekelandt.Extensions
@using Microsoft.AspNetCore.Html
@using Newtonsoft.Json
@using Newtonsoft.Json.Serialization

@model brechtbaekelandt.ViewModels.PostViewModel

@{
    this.ViewData["Title"] = this.Model.Post.CleanTitle;
}

<div style="display: none;" data-bind="visible: true">
    <a style="cursor: pointer;" onclick="window.history.back();"><i class="fa fa-arrow-circle-left"></i> go back</a>

    <div data-bind="template: { name: 'postTemplate', data: { post: post, viewModel: $root }, afterRender: function() { $root.initFancyBox(); $root.initAddThis(); $root.initPrettify(); } }"> </div>
</div>

@section styles{
    <link href="~/lib/fancybox/dist/jquery.fancybox.css" rel="stylesheet" />

    <link href="~/css/controls/post.css" rel="stylesheet" />
}

@section scripts{
    <script src="~/lib/fancybox/dist/jquery.fancybox.js"></script>

    <script src="~/js/knockout/knockout.highlight-bindings.js"></script>
    <script src="~/js/knockout/knockout.key-binding-handlers.js"></script>

    <script src="~/js/extensions/string-extensions.js"></script>

    <script src="~/js/view-models/post.js"></script>

    <script type="text/javascript">

        $(function () {
            @{
                var jsonSerializerSettings = new JsonSerializerSettings { ContractResolver = new CamelCasePropertyNamesContractResolver() };

                var serverViewmodel = new HtmlString(JsonConvert.SerializeObject(this.Model, Formatting.None, jsonSerializerSettings)).ToEscapedJSHtmlString();
            }

            brechtbaekelandt.post.init(@serverViewmodel);
        });
    </script>
}

@{
    var allKeywords = ((string[])this.ViewData["Keywords"]).AddRange(this.Model.Post.Tags);
}

@section seo {
    
    <script type="application/ld+json">
        {
        "@@context": "http://schema.org",
        "@@type": "NewsArticle",
        "mainEntityOfPage": {
        "@@type": "WebPage",
        "@@id": "@($"{this.Model.BaseUrl}{this.Model.Post.Url}")"
        },
        "headline": "@this.Model.Post.CleanTitle",
        "image": [
        "@(!string.IsNullOrEmpty(this.Model.Post.PictureUrl) ? $"{this.Model.BaseUrl}{this.Model.Post.PictureUrl}" : $"{this.Model.BaseUrl}/images/me-social.png")"
        ],
        "datePublished": "@this.Model.Post.Created",
        "dateModified": "@this.Model.Post.LastModified",
        "publisher": {
        "@@type": "Organization",
        "name": "@this.Model.BaseUrl",
        "logo": {
        "@@type": "ImageObject",
        "url": "@($"{this.Model.BaseUrl}/images/me-social.png")"
        }
        },
        "author": {
        "@@type": "Person",
        "name": "@this.Model.Post.User.FullName"
        },
        "description": "@this.Model.Post.CleanDescription"
        }
    </script>

    <meta name="description" content="@this.Html.Raw(this.Model.Post.CleanDescription)" />
    <meta name="keywords" content="@string.Join(", ", allKeywords)" />
}

@section social{

    <!-- Open Graph data -->
    <meta property="og:site_name" content="www.brechtbaekelandt.net" />
    <meta property="og:title" content="@this.Model.Post.CleanTitle" />
    <meta property="og:image" itemprop="image" content="@(!string.IsNullOrEmpty(this.Model.Post.PictureUrl) ? $"{this.Model.BaseUrl}{this.Model.Post.PictureUrl}" : $"{this.Model.BaseUrl}/images/me-social.png")" />
    <meta name="medium" content="image">
    <meta property="og:type" content="article" />
    <meta property="og:description" content="@this.Html.Raw(this.Model.Post.CleanDescription)" />
    <meta property="og:url" content="@($"{this.Model.BaseUrl}{this.Model.Post.Url}")" />
    <meta property="article:author" content="@this.Model.Post.User.FullName" />
    <meta property="article:published_time" content="@this.Model.Post.Created" />
    <meta property="article:modified_time" content="@this.Model.Post.LastModified" />
    <meta property="article:section" content="Technology" />

    @foreach (var postTag in this.Model.Post.Tags)
    {
        <meta property="article:tag" content="@postTag" />
    }

    <meta property="fb:app_id" content="495540337506240">

    <!-- Schema.org markup for Google+ -->
    <meta itemprop="name" content="@this.Model.Post.CleanTitle">
    <meta itemprop="description" content="@this.Html.Raw(this.Model.Post.CleanDescription)">
    <meta itemprop="image" content="@(!string.IsNullOrEmpty(this.Model.Post.PictureUrl) ?  $"{this.Model.BaseUrl}{this.Model.Post.PictureUrl}" : $"{this.Model.BaseUrl}/images/me-social.png")">

    <!-- Twitter Card data -->
    <meta name="twitter:card" content="summary_large_image" />
    <meta name="twitter:site" content="brechtbaekelandt">
    <meta name="twitter:creator" content="Brecht Baekelandt">
    <meta name="twitter:title" content="@this.Model.Post.CleanTitle">
    <meta name="twitter:description" content="@this.Html.Raw(this.Model.Post.CleanDescription)">
    <meta name="twitter:image:src" content="@(!string.IsNullOrEmpty(this.Model.Post.PictureUrl) ?  $"{this.Model.BaseUrl}{this.Model.Post.PictureUrl}" : $"{this.Model.BaseUrl}/images/me-social.png")">
}